In [2]:
import pandas as pd
from influxdb import InfluxDBClient
from dotenv import load_dotenv
import os
from datetime import datetime
import time
load_dotenv()

influx_server = os.getenv('INFLUX_SERVER')
influx_port = os.getenv('INFLUX_PORT')
influx_user_login = os.getenv('INFLUX_LOGIN')
influx_password = os.getenv('INFLUX_PASSWORD')
influx_database = os.getenv('INFLUX_DATABASE')
device_topic = os.getenv('TOPIC_RESULT')
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', None)

In [5]:
result_lists = []
device_list = list(str(device_topic).split(","))
client = InfluxDBClient(influx_server, influx_port, influx_user_login,influx_password, influx_database)

for i in range(len(device_list)):
    query = f"select * from mqtt_consumer where topic ='{device_list[i]}' order by time desc"

    result = client.query(query)
    result_df = pd.DataFrame(result.get_points())
    result_lists.append(result_df)
query_influx = pd.concat(result_lists, ignore_index=True)
init_list =['time','topic','spec_id','spec_name','job_no','instrument_no','employee_no','judgment','method','point','spec', 'spec_max',  'spec_min' ]

point_columns = [col for col in query_influx.columns if col.startswith('point_')]
melted_df = query_influx.melt(id_vars= init_list, value_vars=point_columns, var_name='point_no', value_name='value')
df = melted_df.sort_values(by=['time', 'point_no']).reset_index(drop=True)
print(df)

                          time    topic spec_id spec_name  job_no instrument_no employee_no judgment  method  point  spec  spec_max  spec_min point_no  value
0  2024-07-11T08:07:12.233658Z  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_0   10.0
1  2024-07-11T08:07:12.233658Z  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_1   11.0
2  2024-07-11T08:07:12.233658Z  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_2    9.0
3  2024-07-11T08:07:12.233658Z  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_3   11.0
4  2024-07-11T08:07:12.233658Z  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_4    9.0

In [6]:

df["time"] =   pd.to_datetime(df["time"]).dt.tz_convert(None)
df["time"] = df["time"] + pd.DateOffset(hours=7)    
df["time"] = df['time'].apply(lambda x: x.strftime('%Y-%m-%d %H:%M:%S'))
print(df)

                  time    topic spec_id spec_name  job_no instrument_no employee_no judgment  method  point  spec  spec_max  spec_min point_no  value
0  2024-07-11 15:07:12  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_0   10.0
1  2024-07-11 15:07:12  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_1   11.0
2  2024-07-11 15:07:12  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_2    9.0
3  2024-07-11 15:07:12  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_3   11.0
4  2024-07-11 15:07:12  data/a1   sp001     width  job001         qc001       T1311     pass     1.0    4.0  10.0      11.0       9.0  point_4    9.0